html, body{
    line-height:1.5em;
    font-size:1.1em;
    background-color:white;
    font: 1em 'FolksRegular', Arial, sans-serif; letter-spacing: 0;
}
a, a:visited,a:active{
    text-decoration:none;
    color:inherit;
    background:rgba(0,0,0,0.06);
    padding:1px 4px 1px 4px;
}
a:hover{
    background:rgba(0,0,0,0.15);
}

ul{
    list-style-type:square;
    padding-left:25px;
}
li{
    padding-bottom:5px;
}

#header {
    color:#5d5d5d;
    font: 2.4em 'FolksRegular', Arial, sans-serif; letter-spacing: 0;
}

.grid_3{
    font: 1em 'Colaborate-ThinRegular', Arial, sans-serif; letter-spacing: 0.06em;
    min-height:210px;
}

.grid_3 h3{
    font-size:0.8em;
    font: 1.2em 'FolksRegular', Arial, sans-serif; letter-spacing: 0;
}

.img_tip{
    line-height:41px;
    width:30px;
    display:inline;
    padding-right:5px;
}

.separator, .separator_2, .separator_3, .separator_4{
    border-top:1px solid rgba(0,0,0,0.15);
    margin:20px 0px 20px 0px;
    text-align:left;
}

.separator_1{
   margin-bottom:30px;
}

.separator_2{
   margin-bottom:20px;
   margin-top:0px;
}

.separator_3{
    margin-top:30px;
}

#me img{
    width:50%;
    border:10px solid white;
    border-bottom:30px solid white;
    box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 9px #000;
    -moz-box-shadow: 0px 0px 9px #000;
    -webkit-transform: rotate(-5deg); 
    -moz-transform: rotate(-5deg);
    margin:30px 0px 0px 60px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.grid_6 h3{
    font-size:0.8em;
    font: 1.2em 'FolksRegular', Arial, sans-serif; letter-spacing: 0;
}

.grid_6{
    font: 1em 'Colaborate-ThinRegular', Arial, sans-serif; letter-spacing: 0.06em;
    min-height:220px;
}

.footer{
    text-align:center;
    font: 1em 'Colaborate-ThinRegular', Arial, sans-serif;letter-spacing: 0;
    padding:40px 0px 20px 0px;
}

.mini_img{
    height:15px;
    width:15px;
}
.mini_img_verti{
    height:17px;
    width:9px;
}

.mini_img_horiz{
    height:15px;
    width:21px;
}

.intro{
    font: 1.5em 'Colaborate-ThinRegular', Arial, sans-serif;letter-spacing: 0;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.15);
    margin:60px 0px 0px -20px;
}

.intro p{
    padding:4px;
}

.icons{
    font-size:0.8em;
    color:#bbb;
    padding-bottom:10px;
    text-align:center;
}
.icons a,.icons a:hover{
    background-color:white;
}